@model CaseStudyTakmicenje.Models.TimViewModel

<tr>
    <td>@Model.TimId <input value="@Model.TimId" name="Takmicenje.Timovi[@Model.Sn].TimId" hidden/></td>
    <td>@Model.NazivTima <input value="@Model.NazivTima" name="Takmicenje.Timovi[@Model.Sn].NazivTima" hidden /></td>
</tr>
