@model CaseStudyTakmicenje.Models.UcesceViewModel
@{
    ViewData["Title"] = "Kreiraj takmičenje";
}
<h2>Novo takmičenje</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Ucesce">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Takmicenje.TakmicenjeId" class="control-label" hidden></label>
                <input asp-for="Takmicenje.TakmicenjeId" class="form-control" id="takmicenjeId" hidden/>
                <span asp-validation-for="Takmicenje.TakmicenjeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Takmicenje.Tema" class="control-label"></label>
                <input asp-for="Takmicenje.Tema" class="form-control" />
                <span asp-validation-for="Takmicenje.Tema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Takmicenje.DatumOdrzavanja" class="control-label"></label>
                <input asp-for="Takmicenje.DatumOdrzavanja" class="form-control" />
                <span asp-validation-for="Takmicenje.DatumOdrzavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timovi" class="control-label"></label>
                <select asp-items="@Model.Timovi" class="form-control" id="timovi"></select>
            </div>

            <button class="btn" id="addUcesce" type="button" style="background-color:violet;color:white;margin-bottom:10%">Dodaj tim</button>

            <span asp-validation-for="Takmicenje.Timovi"></span>
            <span data-></span>
            <table id="utimovi" style="border:0.5px solid purple">
                <thead>
                    <tr>
                        <th hidden>
                            Id
                        </th>
                        <th>
                            Naziv tima
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Kreiraj takmicenje" class="btn btn-primary" style="margin-top:10%" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Takmicenje">Vrati se na listu takmičenja</a>
</div>

@section Scripts {
    <script>
        $("#addUcesce").click(function(e){

            if ($('#timovi').val()) {
               
                $.ajax({
                url: "@Url.Action("CreateUcesce", "Ucesce")",
            method: 'GET',
                data: { "takmicenjeId":$("takmicenjeId").val(), "timId": $("#timovi").val(), "sn": $("tbody tr").length },
            success: function(data){
                $("#utimovi tbody").append(data);
            },
            error: function(data){
                alert("error");
            }
                });
                
            } else {
                alert("Izabrali ste sve timove");
                return false;
            } $("#timovi option:selected").remove();
        return false;
        });



    </script>
}