@model CaseStudyTakmicenje.Models.UcesnikViewModel

@{
    ViewData["Title"] = "Ažuriraj";
}

<h1>Ažuriraj odabranog učesnika</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control"/>
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JMBG" class="control-label"></label>
                <input asp-for="JMBG" class="form-control" />
                <span asp-validation-for="JMBG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kontakt" class="control-label"></label>
                <input asp-for="Kontakt" class="form-control" />
                <span asp-validation-for="Kontakt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GodinaStudija" class="control-label"></label>
                <input asp-for="GodinaStudija" class="form-control" />
                <span asp-validation-for="GodinaStudija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MestoId" class="control-label">Mesto</label>
                <select asp-for="MestoId" asp-items="Model.Mesta" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimId" class="control-label">Tim</label>
                <select asp-for="TimId" asp-items="Model.Timovi" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Ažuriraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vrati se na listu učesnika</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
