@using Domain
@model List<Takmicenje>

<a href="@Url.ActionLink("Create", "Ucesce")">Kreiraj novo takmičenje sa timovima</a>
<table class="table">
    <thead>
        <tr>
            <th>Tema</th>
            <th>Datum održavanja</th>
            <th>Vidi timove koji su učestvovali na takmičenju</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Takmicenje item in Model)
        {
<tr>
    <td>@item.Tema</td>
    <td>@item.DatumOdrzavanja.Date.GetDateTimeFormats()[3]</td>
    <td><a href="@Url.ActionLink("Details", "Takmicenje")/@item.TakmicenjeId">Timovi</a></td>
</tr>
}


    </tbody>

</table>
