@using Domain
@model List<Takmicenje>
@{
    ViewData["Title"] = "Takmičenja";
}
<p><a href="@Url.ActionLink("Create", "Ucesce")">Kreiraj novo takmičenje sa timovima</a></p>
<table class="table">
    <thead>
        <tr>
            <th style="background-color:orchid">Tema</th>
            <th style="background-color:orchid">Datum održavanja</th>
            <th style="background-color:orchid">Vidi timove koji su učestvovali na takmičenju</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Takmicenje item in Model)
        {
<tr>
    <td>@item.Tema</td>
    <td>@item.DatumOdrzavanja.Date.GetDateTimeFormats()[3]</td>
    <td><a href="@Url.ActionLink("Details", "Takmicenje")/@item.TakmicenjeId">Timovi</a></td>
</tr>
}


    </tbody>

</table>
