@using Domain
@model List<Takmicenje>

<p><a href="Ucesce/Create">Kreiraj novo takmicenje sa timovima</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Tema</th>
            <th>Datum održavanja</th>
            <th>Vidi timove koji su ucestvovali na takmicenju</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Takmicenje item in Model)
        {
<tr>
    <td>@item.Tema</td>
    <td>@item.DatumOdrzavanja.Date.GetDateTimeFormats()[3]</td>
    <td><a href="Takmicenje/Details/@item.TakmicenjeId">Timovi</a></td>
</tr>
}


    </tbody>

</table>
